$color-primary: #f941ff;
$color-white: #ffffff;
$color-pink-transparent: #f941ff57;
$color-black: #000000;
$color-paragraph: #fff8ff;
$color-shadow: #000000ae;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 20px;
}

body {
  background-color: $color-paragraph;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

h1,
h2,
h3,
.decorative-text {
  font-family: "Great Vibes", cursive;
  color: $color-primary;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: min-content;
  text-align: center;
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  justify-self: baseline;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  color: $color-primary;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-items: center;

  &:before {
    content: "";
    background: linear-gradient(
      45deg,
      #fadde1,
      #ffc4d6,
      #ffa6c1,
      #ff87ab,
      #ff5d8f,
      #ff97b7,
      #ffacc5,
      #ffcad4,
      #fadde1
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  &:active {
    color: #000;
  }

  &:active:after {
    background-color: transparent;
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}

.main-carousel {
  background: $color-white;

  &__btn {
    margin-top: 2rem;
  }

  &__cell {
    width: 100vw;
    height: 99vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    display: grid;
    padding: 5rem 8rem;
    justify-content: baseline;
    align-content: end;
  }

  &__title {
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
  }

  &__subtitle {
    font-size: 2rem;
    margin-top: 1rem;
    color: $color-white;
  }
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 5px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  background: transparent;
  border: 2px solid $color-primary;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: $color-primary;
}

.flickity-button {
  background: transparent;
  transition: 0.2s;
}
.flickity-button:hover {
  background: $color-pink-transparent;
}
.flickity-prev-next-button {
  width: 5em;
  height: 5em;
}
.flickity-button-icon {
  fill: $color-pink-transparent;
}

#main-banner1 {
  background-image: url("../imgs/Banner1.jpg");
}
#main-banner2 {
  background-image: url("../imgs/Banner2.jpg");
}
#main-banner3 {
  background-image: url("../imgs/Banner3.jpg");
}
#main-banner4 {
  background-image: url("../imgs/Banner4.jpg");
}

#category1 {
  background: url("../imgs/category1.jpg");
  grid-row: 1 / 3;
}
#category2 {
  background: url("../imgs/category2.jpg");
  grid-row: 1 / 3;
}
#category3 {
  background: url("../imgs/category3.jpg");
  grid-row: 1/2;
}
#category4 {
  background: url("../imgs/category4.jpg");
  grid-row: 2/3;
}

#category1,
#category2,
#category3,
#category4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.2fr;
  grid-template-rows: 30vh 30vh;
  padding: 5rem;
  gap: 1.5rem;
}

.category {
  display: grid;
  align-content: end;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.4s;
  box-shadow: $color-shadow 0 0.5rem 0.8rem;

  &:hover {
    transform: scale(1.03);
    box-shadow: $color-primary 0 0.5rem 0.8rem;
  }

  &__section {
    display: grid;
    padding: 1rem;
  }

  &__title {
    font-size: 2rem;
    display: grid;
    justify-content: left;
  }

  &__cta {
    background-color: $color-primary;
    color: $color-white;
    justify-self: left;
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 2rem;
  }
}

.banner {
  display: grid;
  justify-content: left;
  align-content: end;
  height: 75vh;
  padding: 5rem;
  background-image: url("../imgs/banner1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 1rem;

  &__details {
    color: $color-paragraph;
  }
}

.shipping {
  display: grid;
  justify-items: stretch;
  padding-top: 6rem;
  padding-bottom: 2rem;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5rem;
  gap: 2rem;

  &__title {
    grid-column: 1/4;
    margin-bottom: 4rem;
  }

  &__section {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 4px;
  }

  &__icon-container {
    background-color: $color-white;
    display: grid;
    background-color: $color-black;
    border-radius: 200px;
    padding: 1rem;
    margin-bottom: -2rem;
    z-index: 1;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    background-color: $color-primary;
  }

  &__text {
    color: $color-black;
    background-color: $color-white;
    height: 10rem;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-self: stretch;
    padding: 1rem;
  }
}

#shipping-icon1 {
  -webkit-mask: url(../imgs/delivery1.svg) no-repeat center/contain;
  mask: url(../imgs/delivery1.svg) no-repeat center/contain;
}
#shipping-icon2 {
  -webkit-mask: url(../imgs/delivery2.svg) no-repeat center/contain;
  mask: url(../imgs/delivery2.svg) no-repeat center/contain;
}
#shipping-icon3 {
  -webkit-mask: url(../imgs/delivery3.svg) no-repeat center/contain;
  mask: url(../imgs/delivery3.svg) no-repeat center/contain;
}

.testimonials {
  padding: 5rem 0;

  &__cell {
    height: 50vh;
    width: 25vw;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    gap: 0.5rem;
  }

  &__rating {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem;
    align-items: center;
  }

  &__grade {
    color: $color-primary;
    font-size: 1.2rem;
  }

  &__text {
    line-height: 1.5rem;
  }
}

footer {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: $color-black;
  color: $color-white;
  padding: 5em;

  & span {
    color: $color-primary;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media only screen and (max-width: 1199px) {
  *,
  *::after,
  *::before {
    font-size: 18px;
  }

  .testimonials {
    &__cell {
      width: 50vw;
    }
  }
}

@media only screen and (max-width: 599px) {
  *,
  *::after,
  *::before {
    font-size: 16px;
  }
  .shipping {
    grid-template-columns: 1fr;

    &__title {
      grid-column: 1;
    }
  }
}
